.header {
    margin: 0;
}

.header__red {
    height: 150px;
    position: relative;
}

.header__img {
    width: min(400px, calc(100% - 20px));
    position: absolute;
    bottom: 50px;
    left: 10px;
}

.header__black {
    height: 50px;
    position: relative;
    background: rgb(12, 12, 12);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header__pokeball {
    position: absolute;
    right: 40px;
    top: -20px;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid #0C0C0C;
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.header__pokeball::after {
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    background-color: rgba(33, 33, 33, 1);
    border: 10px solid #0C0C0C;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__btn {
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: background 1s ease-in;
}

.header__btn:hover {
    color: #0C0C0C;
    transition: .4s ease;
}

